# Supabase pooled connection for app/runtime queries
DATABASE_URL="postgresql://postgres.adviiaqeegnuaibvztls:Fijih2o4me!@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection for Prisma migrations and other admin operations
DIRECT_URL="postgresql://postgres.adviiaqeegnuaibvztls:Fijih2o4me!@aws-0-us-east-1.pooler.supabase.com:5432/postgres"
